//Green
$darkGreen: #0C4B35;
$green: #00730C;
$DablColor: rgba(0, 115, 12, 1)rgba(251, 246, 238, 0);
//White
$greeyWhite: #E3E3E3;
$white: #FFFFFF;
$whiteGreey: #F0F0F0;
$blue: #D9F1DF;
$pinc: #FBEEE7;
$whiteDark: #F6F6F6;
//Blak
$blueDark: #212529;
$blakGreey: #242424;
$dark: #0B0B0B;
//Greey
$greey: #676767;
//Blue
$blueDark: #375490;
$blue: #009FEE;
$blueWhite: #367CFF;
$blueGreey: #0079B2;
//Red
$red: #EF1408